<h4 class="m-t-lg m-b">Create a note</h4>
<form [formGroup]="noteForm" (ngSubmit)="saveDataWithFile(noteForm.value)">
  <div class="form-group">
    <label>Note</label>
    <textarea class="form-control" rows="5" placeholder="Type your note"  name="content" formControlName="content"></textarea>
  </div>
  <div class="form-group">
    <label>Attachments</label>
    <input type="file" name="file"  class="form-control" name="attachments" formControlName="attachments" multiple (change)="getFileDetails($event)">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success" [disabled]="!noteForm.valid">Submit note</button>
  </div>
</form>