.custom-table {
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}

.ml-20 {
  margin-left: 20px;
}

.action_links {
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
  display: inline-flex;
  :hover {
    color: #23b7e5;
  }
}

[_nghost-c0] {
  width: 250px;
}
.ngb-dp-month[_ngcontent-c0] {
  width: 250px;
}
.ngb-dp-day[_ngcontent-c3], 
.ngb-dp-weekday[_ngcontent-c3], 
.ngb-dp-week-number[_ngcontent-c3] {
  width: 4rem !important;
  height: 2.5rem !important;
}

.ngb-dp-header[_ngcontent-c0] {
  padding-bottom: 11px;
  height:45px;
}

[_nghost-c4] > select[_ngcontent-c4] {
  font-size: 15px !important;
}

[_nghost-c1].bg-primary {
  color: #f4f3f9 !important;
  background-color: #5bc0de !important;
}
.clear {
  clear: both;
}

.ngx-pagination a, .ngx-pagination button, .ngx-pagination .current {
  padding: 5px 10px !important;
}
.invite-user-link {
  margin-top: 3px;
  vertical-align: middle;
  display: inline-block;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0.65;
}
.form-control.my-form-control {
  height: auto;
}
.ngb-dp-arrow[_ngcontent-c2] {
  flex-grow: 0.2 !important;
}