<!-- content -->
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">Milestones
      <a href="/users/{{user_id}}/milestones/new" class="btn btn-info pull-right">Create New Milestone</a>
      </h1>
    </div>

    <div class="wrapper-md">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">All Milestones        
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped b-t b-light custom-table">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Submission due at</th>
                    <th>Submitted at</th>
                    <th>Action Items</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr *ngFor="let milestone of milestones; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{milestone.name}}</td>
                    <td>{{milestone.description}}</td>
                    <td>{{milestone.submission_due_at | date: 'MM/dd/yyyy'}}</td>
                    <td>{{milestone.submitted_at | date: 'MM/dd/yyyy'}}</td>
                    <td>{{milestone.action_item_name}}</td>
                    <td>{{milestone.status_name}}</td>
                    <td>
                      <a class="ml-20 action_links" href="/users/{{milestone.user}}/milestones/{{milestone.id}}"> <i class="glyphicon glyphicon-eye-open" title="View Milestone Details"></i></a>
                      <a class="ml-20 action_links" href="/users/{{milestone.user}}/milestones/{{milestone.id}}/edit" title="Update Milestone"> <i class="glyphicon glyphicon-edit"></i></a>
                      <a class="ml-20 action_links" href="javascript:void(0);" (click)='delete(milestone, i);' title="Delete Milestone"> <i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                  </tr>
                  <tr *ngIf="milestones.length == 0">
                    <td colspan="8">No Record Found</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
   