<!-- content -->
<div id="content" class="app-content" role="main">
  <div class="app-content-body">

    <div class="wrapper-md">
      <div class="row">

        <div class="panel panel-default">
          <div class="panel-heading font-bold">Lists 
            <a href="javascript:void(0);" class="btn btn-sm btn-info pull-right" (click)="adnew()">Add new List</a>
            <div class="clear"></div>       
          </div>
          <div class="panel-body">

            <div *ngIf="show_form" class="m-b-xl">
              <form [formGroup]="listForm" (ngSubmit)="save(listForm.value)">
                <div class="row">
                  <div class="col-md-5">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" formControlName="name" placeholder="Name">
                  </div>
                  <div class="col-md-5">
                    <label>Description</label>
                    <textarea class="form-control" placeholder="Description" name="description" formControlName="description"></textarea>
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-info" [disabled]="!listForm.valid">Save</button>
                    <button class="btn btn-default" (click)='resetForm()'>Cancel</button>
                  </div>
                </div>
              </form>  
            </div>
            
            <div class="alert alert-danger" *ngIf="show_error">
              <a href="#" data-dismiss="alert" class="close">×</a>
              {{show_error}}
            </div>
            <div class="alert alert-success" *ngIf="invite_user_success_msg">
              <a href="#" data-dismiss="alert" class="close">×</a>
              {{invite_user_success_msg}}
            </div>
            <div class="table-responsive">
            <!-- PROJECTS TABLE -->
              <div class="pull-right m-b">
                <input type="text" [(ngModel)]="searchInProjects" class="form-control" placeholder="Search in lists">
              </div>
              <div class="clearfix"></div>
              <table class="table table-striped b-t b-light custom-table">
                <thead>
                  <tr class="info">
                    <th>#</th>
                    <th>Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center" width="200">Action</th>
                  </tr>
                </thead>
                <tbody>

                  <ng-template ngFor let-list [ngForOf]="lists | filterBy: ['name','description']: searchInProjects | paginate: { id: 'projectPagination', itemsPerPage: itemsPerPage, currentPage: pageProject } " let-i="index">
                  <tr>
                    <td>
                      <a 
                        data-toggle="collapse" 
                        (click)="list.isCollepsed =! list.isCollepsed;" 
                        [attr.data-target]="'#project'+ i"
                       *ngIf="!list.isCollepsed"
                        class="btn btn-sm btn-icon btn-success"><i class="fa fa-plus"></i></a>

                      <a
                      data-toggle="collapse" 
                      (click)="list.isCollepsed =! list.isCollepsed;" 
                      [attr.data-target]="'#project'+ i" 
                      *ngIf="list.isCollepsed" class="btn btn-sm btn-icon btn-danger"><i class="fa fa-minus"></i></a>
                    </td>

                    <td 
                      data-toggle="collapse" 
                      (click)="list.isCollepsed =! list.isCollepsed;" 
                      [attr.data-target]="'#project'+ i" 
                      *ngIf="!list.isEditing">
                        {{list.name}}
                    </td>
                    
                    <td 
                      data-toggle="collapse" 
                      (click)="list.isCollepsed =! list.isCollepsed;" 
                      [attr.data-target]="'#project'+ i"
                      class="text-center" 
                      *ngIf="!list.isEditing">
                        {{list.description}}
                    </td>
                    <td *ngIf="!list.isEditing" class="text-center">
                      <select class="form-control" [ngModel]="selectedAction" (ngModelChange)="onActionChange($event,list, i, inviteUserModal, inviteNewUserModal)" name="sel2">
                        <option value="null">Choose Action</option>
                        <option value="milestones">Milestones</option>
                        <option value="delete">Delete List</option>
                        <option value="update">Update List</option>
                        <option value="invite_user">Invite New User</option>
                        <option value="add_user"  *ngIf="list.users.length < users.length">Add Existing User to list</option>
                      </select>
                    </td>

                    <td  *ngIf="list.isEditing" colspan="3">
                      <form [formGroup]="listForm" (ngSubmit)="save(listForm.value)">
                        <div class="row">
                          <div class="col-md-3">
                            <input type="text" class="form-control" name="name" formControlName="name" placeholder="Name">
                          </div>
                          <div class="col-md-5">
                            <textarea class="form-control" placeholder="Description" name="description" formControlName="description"></textarea>
                          </div>
                          <div class="col-md-4">
                            <button type="submit" class="btn btn-info" [disabled]="!listForm.valid">Save</button>
                            <button class="btn btn-default" (click)='cancel(list)'>Cancel</button>
                          </div>
                        </div>
                      </form>  
                    </td>
                  </tr>

                  <!-- USER TABLES -->
                  <tr>
                    <td colspan="4" class="hiddenRow no-padder">
                      <div class="m-l-md accordian-body collapse" id="project{{i}}">
                        <div class="row m-n" *ngIf="list.users.length == 0">
                          <div class="col-xs-12 wrapper">Invite Users</div>
                        </div>
                        <div class="row m-n" *ngIf="list.users.length > 0">
                          <div class="col-sm-6 col-xs-12">
                            <h4 class="font-thin">User</h4>
                          </div>
                          <div class="col-sm-6 col-xs-12">
                            <div class="pull-right m-t m-b">
                              <input type="text" [(ngModel)]="searchInUsers" class="form-control" placeholder="Search in users">
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div> 
                        <table *ngIf="list.users.length > 0" class="table table-condensed b-t b-light">
                          <thead>
                            <tr class="info">
                              <th>#</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Email</th>
                              <th>Registration Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-template ngFor let-user [ngForOf]="list.users | filterBy: ['first_name','last_name','email','created_at']: searchInUsers | paginate: { id: 'userPagination', itemsPerPage: itemsPerPage, currentPage: pageUser }" let-j="index">
                              <tr>
                                <td>
                                  <a 
                                    data-toggle="collapse" 
                                    (click) = "user.isCollepsed =! user.isCollepsed" 
                                    [attr.data-target]="'#user'+ j+i"
                                   *ngIf="!user.isCollepsed"
                                    class="btn btn-sm btn-icon btn-success"><i class="fa fa-plus"></i></a>

                                  <a
                                  data-toggle="collapse" 
                                  (click)="user.isCollepsed =! user.isCollepsed;" 
                                  [attr.data-target]="'#user'+ j+i" 
                                  *ngIf="user.isCollepsed" class="btn btn-sm btn-icon btn-danger"><i class="fa fa-minus"></i></a>
                                </td>
                                <td
                                  data-toggle="collapse" 
                                  (click) = "user.isCollepsed =! user.isCollepsed" 
                                  [attr.data-target]="'#user'+ j+i">
                                  {{user.first_name}}
                                </td>
                                <td
                                  data-toggle="collapse" 
                                  (click) = "user.isCollepsed =! user.isCollepsed" 
                                  [attr.data-target]="'#user'+ j+i">
                                  {{user.last_name}}
                                </td>
                                <td
                                  data-toggle="collapse" 
                                  (click) = "user.isCollepsed =! user.isCollepsed" 
                                  [attr.data-target]="'#user'+ j+i">
                                  {{user.email}}
                                </td>
                                <td 
                                  data-toggle="collapse" 
                                  (click) = "user.isCollepsed =! user.isCollepsed" 
                                  [attr.data-target]="'#user'+ j+i">
                                  {{user.created_at | date: 'MM/dd/yyyy'}}
                                </td>
                              </tr>

                              <!-- MILESTONE TABLE -->
                              <tr>
                                <td colspan="5" class="hiddenRow no-padder">
                                  <div class="m-t m-l-md accordian-body collapse" id="user{{j}}{{i}}">
                                    <div class="row m-n" *ngIf="user.milestone.length == 0">
                                      <div class="col-xs-12">
                                        Add Milestone
                                      </div>
                                    </div>
                                    <div class="b" *ngIf="user.milestone.length > 0">
                                      <div class="row m-n" *ngIf="user.milestone.length > 0">
                                        <div class="col-sm-6 col-xs-12">
                                          <h4 class="font-thin padder">Milestones</h4>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                          <div class="pull-right m-t m-b">
                                            <input type="text" [(ngModel)]="searchInMilestones" class="form-control" placeholder="Search in milestones">
                                          </div>
                                        </div>
                                      </div> 
                                      <table  *ngIf="user.milestone.length > 0" class="table table-condensed table-bordered b-t b-light">
                                        <thead>
                                          <tr class="info">
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Description</th>
                                            <th>Submission due at</th>
                                            <th>Submitted at</th>
                                            <th>Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>

                                          <tr *ngFor="let milestone of user.milestone | filterBy: ['name','status_name','description','submission_due_at','submitted_at']: searchInMilestones | paginate: { id: 'milestonePagination', itemsPerPage: itemsPerPage, currentPage: pageMilestone }; let i = index;">
                                            <td>{{milestone.name}}</td>
                                            <td>{{milestone.status_name}}</td>
                                            <td>{{milestone.description == 'null' ? '' : milestone.description}}</td>
                                            <td>{{milestone.submission_due_at | date: 'MM/dd/yyyy'}}</td>
                                            <td>{{milestone.submitted_at | date: 'MM/dd/yyyy'}}</td>
                                            <td>
                                              

                                            <a href="/projects/{{list.id}}/milestones/{{milestone.id}}" class="m-b-none btn m-b-xs btn-sm btn-primary btn-addon">Notes</a>

                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      
                                      <pagination-controls *ngIf="user.milestone.length > itemsPerPage" class="pull-right" id="milestonePagination" (pageChange)="pageMilestone = $event"></pagination-controls>
                                      <div class="clearfix"></div>
                                    </div>
                                    
                                  </div>
                                </td>
                              </tr>
                            </ng-template>
                                              
                          </tbody>
                        </table>

                        <pagination-controls *ngIf="list.users.length > itemsPerPage" id="userPagination" (pageChange)="pageUser = $event"></pagination-controls>
                      
                      </div> 
                    </td>
                  </tr>

                  </ng-template>
                  <tr *ngIf="lists.length == 0">
                    <td colspan="3">No Record Found</td>
                  </tr>

                </tbody>
              </table>

              <pagination-controls *ngIf="lists.length > itemsPerPage" id="projectPagination" (pageChange)="pageProject = $event"></pagination-controls>
            
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<ng-template #inviteUserModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title inline">Add User for {{inviteUserList.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <div *ngIf="userData.length == 0">
      <p>Please invite new user</p>
    </div>
    <div *ngIf="userData.length > 0">
      <select2 [data]="usersForSelect"
               [options]="options"
               [width]="500"
               [value]="value"
               (valueChanged)="changed($event)"
      ></select2>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
    <button *ngIf="userData.length > 0" type="button" class="btn btn-primary" [disabled]="addUserToList.user_ids.length == 0" (click)="invite_user()">Add {{addUserToList.user_ids.length > 1 ? 'Users' : 'User'}}</button>
  </div>
</ng-template>

<ng-template #inviteNewUserModal let-c="close" let-d="dismiss">
  <form class="form-inline" [formGroup]="inviteForm" (ngSubmit)="inviteUser(inviteForm.value)">
  <div class="modal-header">
    <h4 class="modal-title inline">Invite new user for {{inviteUserList.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <input type="text" class="form-control" name="first_name" formControlName="first_name" placeholder="First Name">
          </div>

          <div class="form-group m-t">
            <input type="text" class="form-control" name="last_name" formControlName="last_name" placeholder="Last Name">
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            
          <div class="form-group">
            <input type="text" class="form-control" name="email" formControlName="email" placeholder="Email">
          </div>

          <div class="form-group m-t">
            <select class="form-control" name="project_id" formControlName="project_id">
              <option value="null">Select List</option>
              <option *ngFor="let list of lists" value="{{list.id}}">{{list.name}}</option>
            </select>
          </div>

        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
    <button type="submit" class="btn btn-info" [disabled]="!inviteForm.valid">Send an invitation</button>
  </div>
  </form>
</ng-template>