<div class="app app-header-fixed ">

<!-- header -->
  <header id="header" class="app-header navbar" role="menu">
      <!-- navbar header -->
      <div class="navbar-header bg-dark">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="/" class="navbar-brand text-lt">
          <span class="hidden-folded m-l-xs">Progress Tool</span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
          <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" target=".app">
            <i class="fa fa-dedent fa-fw text"></i>
            <i class="fa fa-indent fa-fw text-active"></i>
          </a>
          <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
            <i class="icon-user fa-fw"></i>
          </a>
        </div>
        <!-- / buttons -->
        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm">
          <% if current_user.type == 'Admin' %>
            <li class="dropdown pos-stc">
              <a href="/projects">
                <span>Lists</span> 
              </a>
            </li>
            <li class="dropdown pos-stc">
              <a href="/users">
                <span>Users</span> 
              </a>
            </li>
          <% else %>
            <li class="dropdown pos-stc">
              <a href="/">
                <span>Lists</span> 
              </a>
            </li>
          <% end%>
        </ul>
        <!-- / link and dropdown -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
          <div id="notifications"></div>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
              <span class="hidden-sm hidden-md"><%= current_user.first_name %> <%= current_user.last_name %></span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">

              <% if user_signed_in? %> 
                <li> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
              <% end %>
              <!-- <li>
                <a ui-sref="access.signin">Logout</a>
              </li> -->
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->
      </div>
      <!-- / navbar collapse -->
  </header>
  <!-- / header -->

  <!-- aside -->
  <aside id="aside" class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">
      <div class="navi-wrap">
        <!-- nav -->
        <nav ui-nav class="navi clearfix">
          <ul class="nav">
            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
              <span>Navigation</span>
            </li>
            <% if current_user.type == 'Admin' %>
              <li>
                <a href="/projects" class="auto">      
                  <i class="glyphicon glyphicon-th-list icon text-info-lter"></i>
                  <span class="font-bold">List</span>
                </a>
              </li>
              <li>
                <a href="/users" class="auto">
                  <i class="glyphicon glyphicon-user icon text-info-lter"></i>      
                  <span class="font-bold">Users</span>
                </a>
              </li>
            <% else %>
            <li>
            </li>
              <li>
                <a href="/" class="auto">
                  <i class="glyphicon  glyphicon-th-list icon text-info-lter"></i>      
                  <span class="font-bold">Lists</span>
                </a>
              </li>
            <% end %>
          </ul>
        </nav>
        <!-- nav -->
      </div>
    </div>
  </aside>
  <!-- / aside -->
  <app-root></app-root>
  <%= javascript_pack_tag 'application' %>
  
